<h1>Edit <%=@landmark.name%></h1>
<form action="/landmarks/<%=@landmark.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  Landmark Name: <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>
  Year Completed: <input type="integer" name="landmark[year_completed]" id="landmark_year_completed">
  <input type="submit" value="Edit Landmark">
</form>
