<h1>Create a new Figure!</h1>
<form action="/figures" method="post">
  Name: <input type="text" name="figure[name]">
  Title: <input type="text" name="figure[title_ids][]">
  Landmark: <input type="text" name=landmark[name]>
  <input type="submit" value="Submit">
</form>
